<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="\assets\newassets\Logo1.jpg" alt="logo">
            </div>
            <h4>Hello! let's Reset Password Securly</h4>
            <h6 class="font-weight-light">Get OTP on this mail.</h6>
            <form class="pt-3">
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"[(ngModel)]="admRegistration.Email" name="Email" #EmailControl="ngModel" placeholder="Enter Email ID">
              </div>
            
              <div class="mt-3">
                <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="OnSubmit()" >Send OTP</a>
              </div>
              
         
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends-->
  </div>
  <!-- page-body-wrapper ends -->
</div> 
