<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Dashboard">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>


<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmDestinations" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmDestinations</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmDestinations">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmDestinations">Add AdmDestinations</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmDestinationsList">AdmDestinationsList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmActivitiesMaster" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmActivitiesMaster</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmActivitiesMaster">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmActivitiesMaster">Add AdmActivitiesMaster</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmActivitiesMasterList">AdmActivitiesMasterList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmBlog" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmBlog</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmBlog">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmBlog">Add AdmBlog</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmBlogList">AdmBlogList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmVendor" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmVendor</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmVendor">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmVendor">Add AdmVendor</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmVendorList">AdmVendorList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmOffer" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmOffer</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmOffer">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmOffer">Add AdmOffer</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmOfferList">AdmOfferList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmTransType" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmTransType</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmTransType">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmTransType">Add AdmTransType</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmTransTypeList">AdmTransTypeList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmRoleMaster" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmRoleMaster</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmRoleMaster">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmRoleMaster">Add AdmRoleMaster</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmRoleMasterList">AdmRoleMasterList</a></li>
</ul>
</div>
</li>
<!-- <li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmRegistration" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmRegistration</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmRegistration">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmRegistration">Add AdmRegistration</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmRegistrationList">AdmRegistrationList</a></li>
</ul>
</div>
</li> -->
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmTravlisInfo" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmTravlisInfo</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmTravlisInfo">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmTravlisInfo">Add AdmTravlisInfo</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmTravlisInfoList">AdmTravlisInfoList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmCityMaster" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmCityMaster</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmCityMaster">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmCityMaster">Add AdmCityMaster</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmCityMasterList">AdmCityMasterList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmCountryMaster" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmCountryMaster</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmCountryMaster">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmCountryMaster">Add AdmCountryMaster</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmCountryMasterList">AdmCountryMasterList</a></li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="collapse" href="#AdmStateMaster" aria-expanded="false" aria-controls="ui-basic">
<i class="icon-layout menu-icon"></i>
<span class="menu-title">AdmStateMaster</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="AdmStateMaster">
<ul class="nav flex-column sub-menu">
<li class="nav-item"> <a class="nav-link" routerLink="/AddAdmStateMaster">Add AdmStateMaster</a></li>
<li class="nav-item"> <a class="nav-link" routerLink="/AdmStateMasterList">AdmStateMasterList</a></li>
</ul>
</div>
</li>
 </ul>
</nav> 
